{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <div id="message" class="alert alert-dismissible text-center alert-fixed" style=""></div>
    <section class="single-section">
        <div class="container">
            <table class="table  table-hover card-basic">
                <thead>
                <button id="openModal" type="button" class="btn btn-primary btn-create-pedido pull-right">Adicionar Pedido</button>
                <tr>
                    <th>Cliente</th>
                    <th>Horario</th>
                    <th>Endereço</th>
                    <th>Entrega</th>
                    <th>Produtos</th>
                    <th>status</th>
                    <th>total</th>
                    <th></th>

                </tr>
                </thead>
                <tbody class="pedido-list-tbody">
                {% for object in object_list %}
                    <tr href="{{ object.get_absolute_url }}">
                        <td>{{ object.client_name }}</td>
                        <td>{{ object.horario_hora }}</td>
                        <td>{{ object.endereco }}</td>
                        <td>{{ object.get_entrega_display }}</td>

                        <td>
                            {%  for produto in object.produtos.all %}
                                {{ produto.amount }} - {{ produto.nome }}
                                {% if not forloop.last %}<br/>{% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            <select id='pedido-{{ object.id }}-status' onchange="update({{ object.id }})" class="selectpicker">
                                <option name="status" value="2">Aguardando Entrega</option>
                                <option name="status" value="3">Enviado</option>
                            </select>
                        </td>
                        <td>{{ object.valor_total }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ object.get_absolute_url }}">Ver</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </section>
    {% include 'pedidos/pedido_create_modal.html' %}
{% endblock %}
{% block script %}
    <script>
        $( document ).ready(function() {
           $("#message").hide();
        });
        $('#openModal').click(function () {
            $('#pedidoModal').modal('show');
        });
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });
        function update(id) {
            $.ajax({
                url: '/api/pedidos/' + id + "/edit/", // the endpoint
                type: "PUT", // http method
                data: { status: $('#pedido-'+id+'-status').val() }, // data sent with the post request

                // handle a successful response
                error: function (xhr, errmsg, err) {
                    {#                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console#}
                    $('#message').text('Ocorreu um erro ao alterar o produto.').addClass('alert-danger').show();
                    setTimeout(function() { $("#message").hide(); }, 4000);
                },

                // handle a non-successful response
                success: function (json) {
                    $('#message').text('Produto alterado com sucesso.').addClass('alert-success').show();
                    setTimeout(function() { $("#message").hide(); }, 4000);

                }
            });
        }

    </script>
{% endblock %}